@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @appply text-gray-900;
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(6, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(7, 7.5vh);
  }
}

.temperature-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 20px auto;
}

.temperature-bar {
  position: relative;
  width: 300px;
  height: 5px;
  background-color: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: #4caf50; /* This will be overridden by inline style */
}

.arrow {
  position: absolute;
  top: -10px;
  transform: translateX(-50%);
}

.arrow span {
  position: absolute;
  top: -20px;
  white-space: nowrap;
  background-color: white;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.temperature-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
